name: proot

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run build.sh
        run: |
          chmod +x ./build.sh
          sudo ./build.sh
          
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            output/x86_64/proot
            output/aarch64/proot
            output/armv7a/proot
